<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div{
            background-color: coral;
        }
    </style>
    <!--Formas de trabajr con css
    1. Mediante atributo de la etiqueta >h1 style="font-size:20px;>" MALA PRACTICA
    2.Mediante la etiqueta <style>
    3. Mediante una hoja de estilos, es un archivo independiente, styles.css, main.css-->

    <h1 style="font-size: 24px;color: blueviolet;">Estilos</h1>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quisquam, accusamus ea obcaecati architecto nulla hic earum corrupti exercitationem voluptate necessitatibus! Animi iure molestias doloribus magnam adipisci dignissimos quae dolores.
        Provident doloribus blanditiis alias unde. Harum fugiat eaque doloribus molestiae delectus eum reiciendis necessitatibus consectetur incidunt assumenda voluptatibus eligendi consequuntur, nulla adipisci sequi commodi debitis accusantium tempora neque quis tempore.
    </div>
</body>
</html>